body {
            font-family: Lato, sans-serif;
            padding-top: 60px;
        }
        
        .big {
            margin-top: 50px;
        }
        
        .data {
            white-space: pre-wrap;
        }
        
        .smallbox {
            padding: 6px;
        }
        
        .mainlink {
            text-decoration: none;
        }

        .noleft {
            margin-left: 0px;
        }

input[type=text] {
               padding: 5px;
           }
.error {
               color: red;
           }