<!doctype html>
<html>
    <head>
        <title>Edit blog post</title>
        <meta charset="utf-8">
       <!-- <link rel="stylesheet" type="text/css" href="blog.css">-->
       <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <!--   <style>
           
           
           input[type=text] {
               padding: 5px;
           }

           .error {
               color: red;
           }
            
        </style>-->
        <link href="/css/blog.css" rel="stylesheet" />
            
    </head>
    <body>
            <div class="container">
     <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Speak Your Mind</a>
          </div>
        </div>
      </div>-->
              <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
           <div class="row">
                <div class="col-xs-6">
                    <a href="/blog" class="mainlink"> <span class="h4 navbar-text">Speak Your Mind!</span></a>
                </div>
                
                {% if username %}
                <!--<div class="col-xs-6 text-right">
                    <span class="h4  navbar-text">Welcome, {{ username }} </span>
                   
                </div>-->
                <div class="col-xs-6">
        <span class="h4 pull-right">
        
        <div class="btn-group">
            <button class="btn btn-default">{{username}}</button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/blog/newpost"><span class="glyphicon glyphicon-plus"> </span> New Post</a></li>
                <!--<li><a href="#"><span class="glyphicon glyphicon-list"> </span> Drafts</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"> </span> Account Settings</a></li>-->
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>

            </ul>
        </div>
      </span></div>

               {% endif %}
                {% if not username %}
                <div class="col-xs-6 text-right">
                    <span class="h4"><a href="/signup"><span class="navbar-link">Sign up /</span></a>
                    
                   <a href="/login"><span class="navbar-link ">Login</span></a></span>
                   
                </div>
                {% endif %}
            </div>
</div>
</nav>

    
        <div class="row">
            <div class="col-xs-12">
        <h2>Edit your post</h2></div>
        </div>
       

        
        <form method="POST">
            <input type="hidden" name="blogid" value="{{ blogid }}"" />
            <div class="form-group">
              <label for="inputsubject" class="control-label col-sm-2">Subject</label>
              <div class="col-sm-10">
                  <input class="form-control" placeholder="Subject"
                          type="text" name="subject" value="{{ subject }}"/>
              </div>
          </div>
           
            <br><br>
            <div class="form-group">
              <label for="inputContent" class="control-label col-sm-2">Content</label>
              <div class="col-sm-10">
                  <textarea name="content" placeholder="Make your point here..." class="form-control" rows="10">{{contents}}</textarea>
              </div>
          </div>
            <br><br>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
           
            <p class="error">{{error_msg}}</p>
            
                </div>
            </div>
             <br>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-2">
            <button type="submit" class="btn btn-default">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Publish
</button>
            </div>

       <!--     <div class="col-xs-2">
           <button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>  Save Draft
</button>
            </div>-->

            <div class="col-xs-2">
            <button type="button" class="btn btn-default" onclick="setTimeout(goBack, 1000); return false;">
  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>  Cancel
</button>
            </div>

            </div>
        </form>
        </div>
            </div>
            <script src="/js/editpost.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    
    </body>

</html>
